*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
        background-color: #eee;
        font-family: 'Lato', sans-serif;
    }
    footer {
        margin-top: 30px;
        background-color: #ddd;
        padding: 20px;
    }
    
    footer>ul {
        display: flex;
        justify-content: flex-end;
    }
    
    footer>ul>li {
        padding: 0 10px;
    }
    
    footer>span {
        margin-top: 5px;
        display: flex;
        justify-content: flex-end;
        font-size: 0.9em;
        color: #444;
    }
    
    .container{
        width: 90%;
        min-height: 100%;
        margin: 0 auto;
        
    }
    .section{
        height: 100vh;
        padding-top: 60px;
    }
    .header{
        height: 60px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: cadetblue;
        box-shadow:  0 0 10px 0 black;
    }
    li {
        list-style: none;
      }
      
      a {
        color: #000;
        text-decoration: none;
      }
    #genres{
        font-family: Arial, Helvetica, sans-serif;
        background-color: cornsilk;
        
    }
    #genres.icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 125px;
        width: 20vw;
        color: darkorange;
    }
    
    @media (max-width: 550px) {
        #genres .icon {
            display: none;
        }
    }
    
    #genres .desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 125px;
        width: 80vw;
        padding: 5px;
    }
    
    @media (max-width: 550px) {
        #genres .desc {
            width: 100%;
            text-align: center;
            padding: 0;
            height: 150px;
        }
    }
    
    @media (max-width: 650px) {
        #genres {
            margin-top: 0;
        }
    }
   
    #trailer{
        font-family: Arial, Helvetica, sans-serif;
        background-color: pink;
        
    }
    #Contacts{
        font-family: Arial, Helvetica, sans-serif;
        background-color:silver;
    }
    #pricing{
        font-family: Arial, Helvetica, sans-serif;
        background-color: gray;
    }
    .header-logo{
        width: 20%;
        height: 10px;
        background-color:cadetblue;
        
    }
    .menu{
        width: 50%;
        height: 60px;
        background-color:cadetblue;
        
    }
    .d-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-link{
        display: block;
        width: 110px;
        height: 40px;
        border: 2px solid black;
        text-decoration: none;
        color: white;
        background-color: cadetblue;
        font-size: 19px;
        font-family: monospace;
        text-align: center;
       line-height: 40px;
       border-radius: 10px;
    
    }
    .logo-link{
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-family:monospace;
    }
    .box{
        display: block;
        padding-top: 10px ;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
       border: thistle 3px solid;
       margin: 20px 20px;
        
    }
    .box2{
        display: block;
        width: 600px;
        height: 400px; 
        background-size: cover;
        margin: auto;
    }
    
    #Contacts{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 200px;
        margin-top: 50px;
    }
    #Contacts>h2 {
        margin-bottom: 20px;
        word-wrap: break-word;
    }
    
    #Contacts input[type='email'] {
        max-width: 275px;
        width: 100%;
        padding: 5px;
    }
    
    #Contacts input[type='submit'] {
        max-width: 150px;
        width: 100%;
        height: 30px;
        margin: 15px 0;
        border: 0;
        background-color: white;
    }
    
    #Contacts input[type='submit']:hover {
        background-color: rgb(0, 89, 137);
        transition: background-color 1s;
    }
    
    @media (max-width: 650px) {
        #Contacts {
            margin-top: 120px;
        }
    }
    .header_logo-image {
        width: 100%;
        height: 100%;
        max-width: 91px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 20px;
    }
    .header_logo {
        width: 100%;
        height: 100%;
        max-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 20px;
    }
    
    @media (max-width: 650px) {
        .header_logo {
            margin: 0 auto;
        }
    }
    .movie-trailer__content-video{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 600px;
        height: 400px;
        background-size: cover;
        margin:  auto;
        border-radius: 30px; 
    }
    .grid {
        display: flex;
    }
    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: calc(100% / 3);
        margin: 10px;
        border: 1px solid #000;
        border-radius: 3px;
    }
    .product>img {
        width: 100%;
    }
    .product>.level {
        background-color: #ddd;
        color: black;
        padding: 15px 0;
        width: 100%;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    .product>h2 {
        margin-top: 15px;
    }
    
    .product>ol {
        margin: 15px 0;
    }
    
    .product>ol>li {
        padding: 5px 0;
    }
    .product>button {
        border: 0;
        margin: 15px 0;
        background-color: #fdfdfd;
        font-weight: 400;
    }
    
    .product>button:hover {
        background-color: rgb(0, 89, 137);
        transition: background-color 1s;
        border: 3px black solid;
        border-radius: 2px;
    }
    @media (max-width: 800px) {
        #details {
            flex-direction: column;
        }    
        .product {
            max-width: 300px;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 10px;
        }
    }
    .btn {
        padding: 0 20px;
        height: 40px;
        font-size: 1em;
        font-weight: 900;
        text-transform: uppercase;
        border: 3px black solid;
        background: transparent;
        cursor: pointer;
        background-color: white;
        font-family: 'Shadows Into Light';
    }

    #pricing_details{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }